#services {
    padding-top: 75px;
}

.service-title {
    margin-bottom: 2rem;
    font-size: 3rem;
}

.service-subtitle {
    cursor: default;
    margin: 0;
    width: fit-content;
    color: white;
    border-radius: .1rem;
    background-color: var(--text-hover-color);
    padding: 0.75rem;
}

#services h2 {
    margin: 0 0 3rem 0;
}

.service-container {
    margin: 0;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.service-item {
    width: fit-content;
    height: fit-content;
    border-radius: .5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    background-color: rgb(255, 255, 255) !important;
    padding: 2rem;
    margin: 1rem;
}

.service-item-title {
    text-transform: uppercase;
    font-weight: 700;
}

.service-item p {
    text-align: justify;
    font-size: 18px;
}

.service-reasons li {
    margin: 0.5rem 0;
    font-size: 18px;
}

.service-contact {
    margin: 1rem 0 0 0;
    height: fit-content;
    border-radius: .5rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
    background-color: rgb(255, 255, 255) !important;
    padding: 2rem;
}

.service-contact-text-container {
    display: flex;
}

.service-contact-text {
    width: 50%;
    height: inherit;
    position: relative;
}

#servicesAction {
    position: absolute;
    bottom: 0;
    left: 40%;
}

.service-contact-img {
    width: 50%;
}

.service-contact-img img {
    width: 100%;
}

.service-contact-title {
    text-transform: uppercase;
    font-weight: 700;
}

.service-contact p {
    text-align: justify;
    font-size: 18px;
}

@media (max-width: 1366px) {
    .service-container {
        display: block;
    }

    .service-contact-text {
        width: 60%;
    }

    .service-contact-img {
        width: 40%;
    }

    #servicesAction {
        position: static;
    }

    .service-item {
        margin: 2rem;
    }
}

@media (max-width: 992px) {
    .service-item {
        margin: 2rem 0;
    }

    .service-contact-text {
        width: 60%;
    }

    .service-contact-img {
        width: 40%;
    }
}

@media (max-width: 800px) {
    .service-contact-text {
        width: 100%;
    }

    .service-contact-img {
        display: none;
    }
}

@media (max-width: 600px) {
    #services {
        width: 100%;
    }

    .service-item {
        padding: 1.5rem;
    }
}
