@font-face {
    font-family: "Roboto";
    src:
        url("/fonts/Roboto-Regular.woff2") format("woff2"),
        url("/fonts/Roboto-Regular.woff") format("woff"),
        url("/fonts/Roboto-Regular.tff") format("truetype");
    font-display: swap;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src:
        url("/fonts/Roboto-Medium.woff2") format("woff2"),
        url("/fonts/Roboto-Medium.woff") format("woff"),
        url("/fonts/Roboto-Medium.tff") format("truetype");
    font-display: swap;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src:
        url("/fonts/Roboto-Bold.woff2") format("woff2"),
        url("/fonts/Roboto-Bold.woff") format("woff"),
        url("/fonts/Roboto-Bold.tff") format("truetype");
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src:
        url("/fonts/Roboto-Black.woff2") format("woff2"),
        url("/fonts/Roboto-Black.woff") format("woff"),
        url("/fonts/Roboto-Black.tff") format("truetype");
    font-display: swap;
    font-weight: 900;
}

* {
    font-family: "Roboto", sans-serif;
}

.text-normal {
    color: var(--text-normal-color);
}

html {
    scroll-behavior: smooth;
}

.ocu {
    display: none;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.outline-button-container {
    transition: 0.3s;
    background: transparent;
}

.outline-button {
    font-weight: 500;
    width: fit-content;
    margin: 0;
    border-radius: 50rem;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    background: transparent;
    color: var(--text-normal-color);
    transition: 0.3s;
}

.outline-button-container:hover .outline-button {
    border: 2px solid var(--text-hover-color);
    color: var(--text-hover-color);
}

.outline-button-container:hover {
    transform: translateY(-5px);
}

.close {
    float: right;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0;
    background-color: transparent;
    border: 0;
    transition-duration: var(--transition-duration);
}

.close:hover {
    opacity: 1;
    transition-duration: var(--transition-duration);
}
